.w3-theme {color:#fff !important;background-color:#3498DB !important}
.w3-btn {background-color:#3498DB;margin-bottom:4px}
.w3-code{border-left:4px solid #3498DB; background-color:#fff !important}
.myMenu {margin-bottom:150px}